
100 Questions (and Answers) About Tests and Measurement, by  Bruce B. Frey/100 Questions (and Answers) About Tests and Measurement, by  Bruce B. Frey.qmd
100 Questions (and Answers) About Tests and Measurement, by  Bruce B. Frey/.quarto/idx/100 Questions (and Answers) About Tests and Measurement, by  Bruce B. Frey.qmd.json
100 Questions (and Answers) About Tests and Measurement, by  Bruce B. Frey/.quarto/idx/chapter 2.qmd.json
100 Questions (and Answers) About Tests and Measurement, by  Bruce B. Frey/.Rproj.user/328C55F2/pcs/files-pane.pper
100 Questions (and Answers) About Tests and Measurement, by  Bruce B. Frey/.quarto/_freeze/chapter 2/execute-results/html.json
100 Questions (and Answers) About Tests and Measurement, by  Bruce B. Frey/.Rproj.user/328C55F2/pcs/windowlayoutstate.pper
100 Questions (and Answers) About Tests and Measurement, by  Bruce B. Frey/.Rproj.user/328C55F2/pcs/source-pane.pper
100 Questions (and Answers) About Tests and Measurement, by  Bruce B. Frey/.Rproj.user/328C55F2/pcs/workbench-pane.pper
100 Questions (and Answers) About Tests and Measurement, by  Bruce B. Frey/.Rproj.user/328C55F2/rmd-outputs
100 Questions (and Answers) About Tests and Measurement, by  Bruce B. Frey/.Rproj.user/328C55F2/sources/per/t/FC3A9FBF
100 Questions (and Answers) About Tests and Measurement, by  Bruce B. Frey/.Rproj.user/328C55F2/sources/prop/07EF2474
100 Questions (and Answers) About Tests and Measurement, by  Bruce B. Frey/.Rproj.user/shared/notebooks/paths
100 Questions (and Answers) About Tests and Measurement, by  Bruce B. Frey/100 Questions (and Answers) About Tests and Measurement, by  Bruce B. Frey.html
100 Questions (and Answers) About Tests and Measurement, by  Bruce B. Frey/chapter 1.html
100 Questions (and Answers) About Tests and Measurement, by  Bruce B. Frey/chapter 1_files/libs/bootstrap/bootstrap-icons.css
100 Questions (and Answers) About Tests and Measurement, by  Bruce B. Frey/chapter 1_files/libs/bootstrap/bootstrap-8a79a254b8e706d3c925cde0a310d4f0.min.css
100 Questions (and Answers) About Tests and Measurement, by  Bruce B. Frey/chapter 1_files/libs/clipboard/clipboard.min.js
100 Questions (and Answers) About Tests and Measurement, by  Bruce B. Frey/chapter 1_files/libs/quarto-html/tippy.umd.min.js
100 Questions (and Answers) About Tests and Measurement, by  Bruce B. Frey/chapter 1_files/libs/quarto-html/quarto.js
100 Questions (and Answers) About Tests and Measurement, by  Bruce B. Frey/chapter 1_files/libs/quarto-html/quarto-syntax-highlighting-549806ee2085284f45b00abea8c6df48.css
100 Questions (and Answers) About Tests and Measurement, by  Bruce B. Frey/index.html
100 Questions (and Answers) About Tests and Measurement, by  Bruce B. Frey/index_files/libs/bootstrap/bootstrap-8a79a254b8e706d3c925cde0a310d4f0.min.css
100 Questions (and Answers) About Tests and Measurement, by  Bruce B. Frey/index_files/libs/bootstrap/bootstrap-icons.css
100 Questions (and Answers) About Tests and Measurement, by  Bruce B. Frey/index_files/libs/bootstrap/bootstrap.min.js
